    /*Body*/

body {
    font-family: 'Abel', sans-serif;
    
    line-height: 1.6;
    background-color: #1d1d1d;
    color: #fff;
}

*,
*:before,
*::after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}



    /*Header*/

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    text-align: center;
    color: rgb(98, 114, 202);
    margin-right: 420px;
}

.header_logo {
    font-size: 30px;
    font-weight: 700px;
    color: #fff;
}

    /*Container*/

.container {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container_inner{
    font-size: 20px;
    margin: 200px 0 0;
    text-align: center;

}

p {
    font-size: 16px;
    padding-top: 400px;
}

.container_bottom{
    margin: 350px;
    text-align: center;
}

    /*Intro*/

.intro {
    width: 100%;
    height: 800px;

    background: url("../img/intro.jpg"), center, no-repeat;
    background-size: cover;
}

    /*Nav*/

.nav {
    text-transform: uppercase;
    font-size: 18px;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;

    transition: color 0.2s linear;
}

.nav_link:hover {
    color: rgb(98, 114, 202);
}

    /*Button*/

.button {
    display: inline-block;
    width: 50px;
    height: 30px;
    color: #333;
    text-decoration: none;
    text-align: center;
    border: 2px solid #fff;
    background-color: #fff;
    margin-top: 20px;

    transition: background-color 0.1s linear;
}

.button:hover {
    background-color: rgb(98, 114, 202);

}

.put {
    color: green;
}
